<!--post type should be `QueryObserverResult<Post, unknown>` -->
<div *subscribe="post$ as post">
  {{ post.data?.title }}
</div>

<header class="page-header">
  <h2 class="flex items-center">
    <span nz-icon nzType="key" class="mr-2"></span>
    Vault Keys
  </h2>
</header>

<!--  -->
<nz-table
  #table
  *subscribe="todos$ as todos"
  [nzData]="todos.data?.todos!"
  [nzLoading]="todos.isLoading"
>
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <!-- table.data type should be - `NzTableComponent<Todo>.data: readonly Todo[]` -->
    <tr *ngFor="let todo of table.data">
      <td>{{ todo.title }}</td>
    </tr>
  </tbody>
</nz-table>
